@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";



// Général

img {
    width: 200px;
}

a {
    text-decoration: none;
    color: black;
}

i {
    font-size: $icone-size;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

// Header

header {
    .logo {
        background-color: #FFFF;
        display: flex;
        justify-content: center; 
        align-items: center;

        img {
            padding: 20px;
        }
    }
}


// Block Exploration

.exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4em;
    text-align: center;
    padding-bottom: 40px;

    .location {
        padding: 20px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1.2em;
        background-color: $color-searchbar;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    }

    h1 {
        font-size: $fontsize-title;
        font-weight: 700;
        padding: 40px 40px 0;
    }

    p {
        font-size: 1.1em;
        font-weight: 300;
        padding: 0 40px
    }
    .button {
        @include butt;
    }
}


// Section Fonctionnement

.functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    background-color: #FFFF;
    padding: 40px 20px 40px 25px;

    &__title {
        align-self: flex-start;
    }

    &__links {
        width: 350px;
    }
}

.function {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 1.4em;
    background-color: $color-background;
    box-shadow: $box-shadow;
    padding: 25px 40px;
    border-radius: $radius * 0.8;

    &__number {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: $color-primary
        ;
        border-radius: $radius;
        left: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFF;
        font-size: 0.8em;
    }

    h3 {
        font-size: 1em;
        font-weight: 500;
    }
}


// Section Restaurants

.new {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: $color-tertiary;
    padding: 5px 10px;
    font-size: 0.9em;
}

.restaurants {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    gap: 2em;

    &__link {
        width: 100%;
    }
}

.rest-cart {
    position: relative;
    height: 250px;
    box-shadow: $box-shadow;
    
    img {
        object-fit: cover;
        width: 100%;
        border-radius: $radius * 0.6 $radius * 0.6 0 0;
        height: 70%;
    }

    &__info {
        border-radius: 0 0 $radius * 0.6 $radius * 0.6;
        background-color: #FFFF;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;

        h4 {
            font-weight: 700;
            font-size: 1.1em;
        }

        p {
            font-weight: 300;
        }
        
        .fa-heart {
            position: absolute;
            right: 20px;
        }
    }
}

// Footer

.footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 30px 25px;
    background-color: #353535;

    &__logo {
        filter: invert(100%);
        width: 120px;
    }
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    a {
        display: flex;
        gap: 1em;
        color: #FFFF;
        width: fit-content;

        .fa-utensils {
            padding: 0 3px;
        }
    }
}