.footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 30px 20px;
    background-color: #353535;

    &__logo {
        color: #FFFF;
        font-family: 'Shrikhand', sans-serif;
        font-size: 1.2em;

        @include tablet {
            margin: auto;
            width: 80%;
        }

        @include desktop {
            width: fit-content;
            margin: 0;
        }
    }

    @include desktop {
        flex-direction: row-reverse; //Pour mettre le logo après les liens
        gap: 4em;
        padding-right: 5em;
        align-items: center;
    }
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    a {
        display: flex;
        gap: 1em;
        color: #FFFF;
        width: fit-content;

        .fa-utensils {
            padding: 0 4px;
        }

        @include tablet {
            margin: auto;
            width: 80%;
        }

        @include desktop {
            white-space: nowrap;
            width: 100%;
            margin: 0;
        }
    }

    @include desktop {
        flex-direction: row;
        gap: 3em;
    }
}