header {
    position: relative;
    
    .logo {
        display: flex;
        justify-content: center;
        font-family: 'Shrikhand', sans-serif;
        font-size: 2em;
        padding: 10px;
    }

    .icon-return {
        font-size: $icone-size;
        position: absolute;
        top: 22px;
        left: 22px;
        cursor: pointer;

        &:hover{
            content: '\f060';
            animation: shake 700ms ease-in 100ms infinite;
        }
        
    }
}