header {
    .logo {
        background-color: #ffffff;
        display: flex;
        justify-content: center; 
        align-items: center;

        img {
            padding: 20px;
            width: 200px;
        }
    }
}