.loader {
    width: 100%; // largeur totale de l'écran
    height: 100%; //hauteur totale de l'écran
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 40%, $color-background 40%, $color-secondary 10%, $color-primary 100%);
    ;
    z-index: 999; //pour qu'il se place au-dessus de tous les éléments de la page d'accueil
    animation: fadeout 3000ms linear forwards;
}

.anim {
    width: 50vw;
    height: 25vw;
    margin-bottom: 10vh;
    position: relative;

    .ball,
    .anim-logo {
        position: absolute;
    }

    .ball {
        width: 4.5vw;
        height: 4.5vw;
        background-color: $color-primary;
        border-radius: 50%;
        color: $color-primary;
        animation: bounce 1500ms 500ms both; //both pour que la balle reste sur la position initiale de l'animation au début et finale à la fin
        z-index: 5;
    }

    .anim-logo {
        display: flex;
        width: 50vw;
        color: $color-primary;
        filter: drop-shadow(-0.4vw 0.4vw 0.1vw #F6F6F6); //effet d'ombre pour svg
        bottom: 0;
        z-index: 1;
    }

    //Écrasement des lettres par rapport à la balle

    .letter1 {
        transform-origin: bottom; //déplacement de l'origine du repère pour qu'elle s'écrase vers le bas - défaut au centre
        animation: squeeze 500ms ease-in-out 650ms backwards;
        z-index: 2;
    }

    .letter7 {
        transform-origin: bottom;
        animation: squeeze 500ms ease-in-out 1550ms backwards;
        z-index: 2;
    }
}