.loader {
    font-family: 'Shrikhand', sans-serif;
    font-size: 9vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: radial-gradient(circle at 40%, $color-background 40%, $color-secondary 10%, $color-primary 100%);
    ;
    z-index: 999;
    animation: fadeout 3000ms linear forwards;
}

.anim {
    width: 50vw;
    height: 25vw;
    margin-bottom: 10vh;
    position: relative;

    .ball,
    .logo {
        position: absolute;
    }

    .ball {
        width: 4.5vw;
        height: 4.5vw;
        background-color: $color-primary;
        border-radius: 50%;
        color: $color-primary;
        animation: bounce 1500ms 300ms both;
        z-index: 5;
    }

    .logo {
        display: flex;
        width: 50vw;
        color: $color-primary;
        filter: drop-shadow(-0.4vw 0.4vw 0.1vw #F6F6F6);
        bottom: 0;
        z-index: 1;
    }

    .letter1 {
        transform-origin: bottom;
        animation: squeeze 500ms ease-in-out 450ms backwards;
        z-index: 2;
    }

    .letter7 {
        transform-origin: bottom;
        animation: squeeze 500ms ease-in-out 1350ms backwards;
        z-index: 2;
    }
}