
.loader {
    font-family: 'Shrikhand', sans-serif;
    font-size: 9vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: radial-gradient(circle at 20%, #fdddf4, $color-background 70%, $color-primary 55%);
    ;
    z-index: 999;
    animation: fadeout 2000ms linear forwards;
}

.anim {
    width: 50vw;
    height: 23vh;
    margin-bottom: 5vh;
    position: relative;

    .ball,
    .logo {
        position: absolute;
    }

    .logo {
        display: flex;
        gap: 6vw;
        left: 6vw;
        width: 38vw;
        color: $color-primary;
        position: absolute;
        bottom: 0;
        z-index: 1;

    }

    .ball {
        color: $color-primary;
        animation: bounce 1500ms 300ms 1 both;
        z-index: 2;
    }

    .ground {
        background-color: #2c0454;
        height: 0.5vw;
        width: 48vw;
        position: absolute;
        bottom: 3vw;
        z-index: 0;
        border-radius: 50%;
        filter: blur(7px);
    }
}


