img {
  width: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #F6F6F6;
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
}

i {
  font-size: 1.2em;
}

header .logo {
  background-color: white;
  display: flex;
  justify-content: center;
}
header .logo a {
  width: fit-content;
}
header .logo a img {
  width: 20vh;
  padding: 20px 0;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4em;
  text-align: center;
  padding-bottom: 40px;
}
.exploration .location {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.2em;
  background-color: #EAEAEA;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1490196078);
}
.exploration h1 {
  font-size: 1.5em;
  font-weight: 700;
  padding: 40px 40px 0;
}
.exploration p {
  font-size: 1.1em;
  font-weight: 300;
  padding: 0 40px;
}
.exploration .button {
  color: white;
  background: linear-gradient(350deg, #9356DC -5%, #FF79DA 115%);
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  box-shadow: 0px 1px 8px rgba(127, 127, 127, 0.3);
  width: fit-content;
  margin: 1em;
}

.functions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  background-color: white;
  padding: 40px;
}
.functions__links {
  width: 400px;
}

.function {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1.5em;
  background-color: #F6F6F6;
  box-shadow: 0px 1px 8px rgba(127, 127, 127, 0.3);
  padding: 25px 50px;
  border-radius: 20px;
}
.function__number {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  border-radius: 25px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8em;
}
.function__info {
  display: flex;
  gap: 2em;
}
.function h2 {
  font-size: 1em;
  font-weight: 500;
}

.new {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: #99E2D0;
  padding: 5px 10px;
  font-size: 0.9em;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 25px;
  gap: 1em;
}
.restaurants__link {
  width: 100%;
}

.rest-cart {
  position: relative;
  height: 250px;
}
.rest-cart img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 70%;
}
.rest-cart__info {
  border-radius: 0 0 20px 20px;
  background-color: white;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.rest-cart__info h3 {
  font-weight: 700;
  font-size: 1.1em;
}
.rest-cart__info p {
  font-weight: 300;
}
.rest-cart__info .fa-heart {
  position: absolute;
  right: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 15px 20px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.footer__links a {
  display: flex;
  gap: 1em;
}

/*# sourceMappingURL=style.css.map */
