* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: default;
}

a {
  text-decoration: none;
  color: #000000;
}

i {
  font-size: 1.2em;
}

header .logo {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo img {
  padding: 20px;
  width: 200px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 30px 20px;
  background-color: #353535;
}
.footer__logo {
  filter: invert(100%);
  width: 120px;
}
@media screen and (min-width: 992px) {
  .footer {
    flex-direction: row-reverse;
    gap: 5em;
    padding-right: 5em;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.footer__links a {
  display: flex;
  gap: 1em;
  color: white;
  width: fit-content;
}
.footer__links a .fa-utensils {
  padding: 0 4px;
}
@media screen and (min-width: 992px) {
  .footer__links {
    flex-direction: row;
    gap: 4vw;
    white-space: nowrap;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  gap: 1.4em;
  text-align: center;
  padding-bottom: 30px;
}
.exploration .location {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.2em;
  background-color: #EAEAEA;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.exploration h1 {
  font-size: 1.5em;
  font-weight: 700;
  padding: 20px 40px 0;
}
.exploration p {
  font-size: 1.1em;
  font-weight: 300;
  padding: 0 40px;
}
.exploration .button {
  color: white;
  background: linear-gradient(350deg, #9356dc -5%, #ff79da 115%);
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin: 1em;
  font-weight: 500;
}
.exploration .button:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  background: linear-gradient(350deg, rgba(147, 86, 220, 0.8) -5%, rgba(255, 121, 218, 0.9) 115%);
}

.functions {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 60px;
  margin: auto;
  gap: 1.5em;
}
@media screen and (min-width: 992px) {
  .functions {
    margin: auto;
    max-width: 80%;
    padding: 40px 0 60px;
  }
}
.functions__links {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-left: 5px;
}
@media screen and (min-width: 992px) {
  .functions__links {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  .functions__link {
    width: 31%;
  }
}

.function {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1.5em;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 25px 35px;
  border-radius: 20px;
  white-space: nowrap;
}
@media screen and (min-width: 992px) {
  .function {
    justify-content: flex-start;
    gap: 1.5vw;
  }
}
.function:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.function__number {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  border-radius: 25px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 0.8em;
}
.function h3 {
  font-size: 1em;
  font-weight: 500;
}

.new {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99E2D0;
  padding: 5px 10px;
  font-size: 0.9em;
  color: #217460;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 60px;
  background-color: #F6F6F6;
  gap: 1.5em;
}
@media screen and (min-width: 745px) {
  .restaurants {
    padding: 50px 0 60px;
  }
  .restaurants h2 {
    width: 80%;
    margin: auto;
  }
}
.restaurants__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
@media screen and (min-width: 745px) {
  .restaurants__links {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 1.5em;
  }
}
.restaurants__links__link {
  width: 100%;
  border-radius: 15px;
  background-color: white;
}
@media screen and (min-width: 745px) {
  .restaurants__links__link {
    width: 48%;
  }
}

.rest-cart {
  position: relative;
  height: 250px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
}
.rest-cart img {
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 70%;
}
.rest-cart__info {
  height: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  padding: 10px 15px 0;
}
.rest-cart__info h4 {
  font-weight: 700;
  font-size: 1.1em;
}
.rest-cart__info p {
  font-weight: 300;
}

.icon-heart {
  position: absolute;
  right: 10%;
  bottom: 30%;
}
.icon-heart::before {
  content: "\f004";
  font-family: fontAwesome;
  position: absolute;
  font-size: 1.5em;
  height: 0;
  text-align: center;
  background: -webkit-linear-gradient(350deg, #9356dc -5%, #ff79da 115%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 300ms;
}
.icon-heart:hover::before {
  height: 100%;
  overflow: hidden;
}
.icon-heart .fa-heart {
  font-size: 1.5em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: thin;
}

/*# sourceMappingURL=style.css.map */
