
@keyframes check-effect {
    0%, 100%{
        transform: scale(1);
    }

    30% {
        transform: scale(1.5);
    }
}


// Image restaurant

.img-cover {
    object-fit: cover;
    width: 100vw;
    height: 60vw;
    max-height: 400px;
}

// Fiche menu

main {
    padding: 30px 15px;
    background-color: $color-background;
    border-radius: $radius * 2 $radius * 2 0 0;
    position: relative;
    margin-top: -60px;
}

.title {
    display: flex;

    h1 {
        font-family: 'Shrikhand', sans-serif;
        font-size: $fontsize-title;
        letter-spacing: 1px;
    }

    .icon-heart {
        bottom: initial;
        right: 12%;
    }
}

.courses {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    &__title {
        h2 {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1em;
        }
    
        hr {
            height: 3px;
            width: 40px;
            border: 0;
            background: $color-tertiary;
            margin-top: 0.5em;
        }
    }
}

.coursesItem {
    display: flex;
    background-color: #ffffff;
    border-radius: $radius * 0.6;
    box-shadow: $box-shadow;
    white-space: nowrap;
    overflow: hidden;

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        flex: 1;
        gap: 0.5em;
        overflow: hidden;

        &__text {
            overflow: hidden;

            h3 {
                font-weight: 500;
                font-size: 1em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        
            p {
                font-weight: 300;
                font-size: 1em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__price {
            align-self: flex-end;
            font-weight: 700;
        }
    }

    &:hover .coursesItem--validation {
        width: 25%;
    }

    &:hover .fa-circle-check {
        animation: check-effect 700ms 200ms;
    }
}


.coursesItem--validation {
    background-color: $color-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 0;
    transition: 300ms ease-in-out;

    .fa-circle-check {
        color: #ffffff;
        font-size: 1.3em;
    }
}


.button {
    a {
        @include btn;
        display: block;
        margin: auto;
    }
}