
// Image restaurant

.img-cover {
    object-fit: cover;
    width: 100vw;
    height: 60vw;
    max-height: 400px;
}


// Fiche menu

.menu-main {
    padding: 30px 15px;
    background-color: $color-background;
    border-radius: $radius * 2 $radius * 2 0 0;
    position: relative;
    margin-top: -60px; //pour faire remonter menu sur l'image

    @include tablet {
        width: 70%;
        margin: -60px auto 0;
        padding: 30px 12%;
    }
}


//Titre et favori

.title {
    display: flex;
    justify-content: space-around;
    gap: 1em;

    h1 {
        font-family: 'Shrikhand', sans-serif;
        font-size: $fontsize-title;
        letter-spacing: 1px;
    }

    .favorite-menu {
        @include favorite;
    }

    @include tablet {
        justify-content: center;
        gap: 2em;
    }
}


//Section des plats

.courses {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    &__title {
        h2 {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1em;
        }
    
        hr {
            height: 3px;
            width: 40px;
            border: 0;
            background: $color-tertiary;
            margin-top: 0.5em;
            transform-origin: left;
            animation: ltr $anim-dur 150ms backwards ease-out;
        }
    }
}


//Composition des sections

.coursesItem {
    display: flex;
    background-color: #ffffff;
    border-radius: $radius * 0.6;
    box-shadow: $box-shadow;
    white-space: nowrap;
    overflow: hidden;
    animation: btt $anim-dur 200ms backwards cubic-bezier(.37,.6,.7,1.16); //ease-in-out 

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        flex: 1;
        gap: 1em;
        overflow: hidden;

        &__text {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 0.3em;

            h3 {
                font-weight: 500;
                font-size: 1em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        
            p {
                font-weight: 300;
                font-size: 1em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__price {
            align-self: flex-end;
            font-weight: 700;
        }
    }


    //Boucle pour décalage d'apparation des plats

    @for $i from 1 through $article-courses {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }

    //Animation au survol des plats

    &:hover .coursesItem--validation {
        width: 60px;
    }

    &:hover .fa-circle-check {
        animation: check-hover 700ms 200ms;
    }
}


//Éléments de départ des animations

.coursesItem--validation {
    background-color: $color-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 0;
    transition: 300ms ease-in-out;
    
    .fa-circle-check {
        color: #ffffff;
        font-size: 1.3em;
    }
}


.button {
    @include btn;
    margin: 25px auto;
}

