@mixin butt {
    @if (lightness($color-primary) > 60%) {
        color: black;
    }@else{
        color: white;
    }
    background: linear-gradient(350deg, $color-primary -5%, $color-secondary 115%);
    border: none;
    padding: 15px 20px;
    border-radius: $radius;
    box-shadow: $box-shadow;
    width: fit-content;
    margin: 1em;
}