@mixin butt {
    background: linear-gradient(340deg, $color-primary 5%, $color-radiant 110%);
    border: none;
    padding: $pad-block;
    color: #FFFF;
    border-radius: $radius;
    box-shadow: $box-shadow;
    width: fit-content;
    margin: 1em;
}