$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99E2D0;
$color-background: #F6F6F6;
$color-searchbar: #EAEAEA;
$gradient: 350deg, $color-primary -5%, $color-secondary 115%;
$box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
$radius: 25px;
$icone-size: 1.2em;
$fontsize-title: 1.5em;
$gap-mobile: 1.5em;
$gap-tablette: 2em;
$article-courses: 10;
$anim-dur: 1000ms;
$anim-delay: calc($anim-dur / $article-courses);

$breakpoints: (
    tablet: 745px,
    desktop: 992px
)