$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99E2D0;
$color-background: #F6F6F6;
$color-searchbar: #EAEAEA;
$box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
$radius: 25px;
$icone-size: 1.2em;
$fontsize-title: 1.5em;
$gap-mobile: 1.5em;