$color-primary: #9356DC;
$color-radiant: #FF79DA;
$green: #99E2D0;
$green-font: #008766;
$color-background: #F6F6F6;
$color-searchbar: #EAEAEA;
$box-shadow: 0px 1px 8px rgba(127, 127, 127, 0.3);
$pad-block: 15px 20px;
$radius: 25px;
$icone-size: 1.2em;